html {
  cursor: crosshair;
}

body {
  background-color: #222;
  margin: 0;
  cursor: auto;
}

.circle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  cursor: crosshair;
}

.menu {
  background-color: #333;
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0px;
}

menu:first-child {
  margin-left: 30px;
}

button {
  margin-bottom: 25px;
}
